<center>

<% if !@success %>
	<h1>OH SNAP!: <%= @err_msg %></h1>
<% end %>
<% @cards.each do |card| %>
	<a href="view/<%= card.id %>">
	<div class="card-sm card-front">
		<div class="question">
			<%= card.question %>
		</div>
	
		<div class="hint">
			<%= card.hint %>
		</div>
	
		<div class="answer-block">
			<div class="answer">
				<%= card.answer %>
			</div>
		
			<div class="details">
				<%= card.details %>
			</div>
		
			<div class="reference">
				<%= card.reference %>
			</div>
		</div>
	
		<div class="caption">
			<%= card.category %>
		</div>
	</div>
	</a>
<% end %>
</center>

