<center>
<div class="card card-back">
	<div class="logo">
	</div>
	
	<div class="category">
		<%= @card['category'] %>
	</div>
	
	<div class="caption">
		Card Back
	</div>
	
	<div class="qrcode">
		<center>
			<%= image_tag "qrcode.png" %>
	
	</div>
</div>
<div class="card card-front">
	<div class="question">
		<%= @card['question'] %>
	</div>
	
	<div class="hint">
		<%= @card['hint'] %>
	</div>
	
	<div class="answer-block">
		<div class="answer">
			<%= @card['answer'] %>
		</div>
		
		<div class="details">
			<%= @card['details'] %>
		</div>
		
		<div class="reference">
			<%= @card['reference'] %>
		</div>
	</div>
	
	<div class="caption">
		Card Face
	</div>
</div>
</center>

