<!DOCTYPE html>
<html>
<head>
  <title>Trivia</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "browser" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="navbar">
		<span class="logo">Open Trivia</span>
		<span id="nav" class="menu-container">
			<a href="search">Browse</a><a href="search">Build</a><a class="selected" href="search">Contribute</a>
		</span>
	</div>

<%= yield %>

</body>
</html>
